<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body>
    <h1>Hey this is root!</h1>
    <h2>2+2 = <%= 2+2 %></h2>
    
    <h2 class="text-3xl font-bold underline">Css chal rha hai bee</h2>
    <script src="javascript/script.js"></script>
</body>
</html>