<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-zinc-800 text-white">
    <div class="w-full h-screen flex flex-col items-center space-y-6">
      <h1 class="text-5xl mt-8">Users App</h1>

      <div class="w-full max-w-md">
        <form method="post" action="/create" class="flex flex-col space-y-3">
          <h2 class="text-xl">Full Name</h2>
          <input
            type="text"
            name="fullName"
            id="fullName"
            placeholder="Full Name"
            class="p-2 rounded text-black"
          />
          <h2 class="text-xl">userName</h2>
          <input
            type="text"
            name="userName"
            id="userName"
            placeholder="User Name"
            class="p-2 rounded text-black"
          />
          <h2 class="text-xl">Email</h2>
          <input
            type="text"
            name="email"
            id="email"
            placeholder="Email"
            class="p-2 rounded text-black"
          />
          <button class="bg-blue-600 h-12 rounded-md font-bold text-lg">
            Create User
          </button>

          <a href="/show" class="text-md text-blue-400 flex justify-center font-semibold">Show Users...</a>
        </form>
      </div>
    </div>
  </body>
</html>
